body {
    width: 70%;
    margin:auto;
}

h1 , h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h1{
    font-size: 32px;
}

table{
    border: 1px solid black;
}

figcaption{
    font-style: italic;
}

figure{
    float: right;
}